@model EmployeeListViewModel
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

@section css {
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Çalışan Ara">
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->

    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-4">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th class="min-w-25px"></th>
                    <th class="min-w-125px">Ad Soyad</th>
                    <th class="min-w-125px">Son Giriş Tarihi</th>
                    <th class="min-w-125px">Durum</th>
                    <th class="min-w-125px">Oluşturulma Tarihi</th>
                    <th class="text-center min-w-50px"></th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">
                @foreach (var item in Model.UserListViewModelsList)
                {
                    <tr>
                        <td>@count</td>
                        <!--begin::User=-->
                        <td>
                            @item.Fullname

                        </td>
                        <!--end::User=-->
                        <!--begin::Last login=-->
                        <td>
                            <div class="badge badge-light fw-bolder">
                                @if (item.LastLoginDate.HasValue)
                                {
                                    @item.LastLoginDate.Value.ToString("dddd, dd MMMM yyyy HH:mm:ss")
                                }
                                else
                                {
                                    @:-
                                }
                            </div>
                        </td>
                        <!--end::Last login=-->
                        <!--begin::Two step=-->
                        <td>
                            @if (item.Approved)
                            {
                                <div class="badge badge-light-success fw-bolder">Onaylı</div>
                            }
                            else
                            {
                                <div class="badge badge-light-warning fw-bolder">Onay Bekliyor</div>
                            }
                        </td>

                        <!--end::Two step=-->
                        <!--begin::Joined-->
                        <td>
                            <div class="badge badge-light fw-bolder">
                                @item.CreatedDate.ToString("dddd, dd MMMM yyyy HH:mm:ss")
                            </div>
                        </td>
                        <!--begin::Joined-->
                        <!--begin::Action=-->
                        <td class="text-center">
                            @if (item.Approved == false)
                            {
                                <a class="btn btn-sm btn-hover-scale btn-success" data-bs-toggle="modal" data-bs-target="#kt_modal_new_role_@item.Id">Onayla</a>
                            }
                        </td>
                        <!--end::Action=-->
                    </tr>
                    <div class="modal fade" id="kt_modal_new_role_@item.Id" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>Kullanıcı Rol Atama   </h2>
                                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                    <form id="form_approve_emploee" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="@Url.Action("ApproveUser")" method="post">
                                        <div class="row mb-5">
                                            <div class="col-md-12 fv-row">
                                                <label class="required fs-6 fw-bold form-label mb-2">Rol Seçiniz</label>
                                                <div class="row fv-row">
                                                    <div class="col-12">
                                                        <select   class="form-select form-select-solid" name="roleId" asp-items="@ViewBag.RolesList">
                                                        </select>
                                                    </div>
                                                    <input type="hidden" name="userId" value="@item.Id">
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Row-->
                                            </div>
                                            <!--end::Col-->

                                        </div>
                                        <div class="text-center pt-15">
                                            <button type="reset" id="approve_employee_cancel" class="btn btn-light me-3">Vazgeç</button>
                                            <button type="submit" id="approve_employee_submit" class="btn btn-primary">
                                                <span class="indicator-label">Kaydet</span>
                                                <span class="indicator-progress">
                                                    Lütfen Bekleyiniz...
                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                </span>
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    count++;
                }

            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
@section js {
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/js/employee/approveEmployee.js"></script>
    <script>
        var KTUsersList = function () {
            var selectedIDs = new Array();
            var e, t, n, r, o = document.getElementById("kt_table_users");

            return {
                init: function () {
                    (t = document.getElementById("kt_table_users")) && (t.querySelectorAll("tbody tr").forEach((t => {
                        const e = t.querySelectorAll("td")
                    })), (e = $(o).DataTable({
                        info: !1,
                        order: [],
                        pageLength: 10,
                        lengthChange: !1,
                        columnDefs: [{
                            orderable: !1,
                            targets: 0
                        }]
                    })).on("draw", (function () {

                    })), document.querySelector('[data-kt-user-table-filter="search"]').addEventListener("keyup", (function (t) {
                        e.search(t.target.value).draw()
                    })))
                }
            }
        }();
        KTUtil.onDOMContentLoaded((function () {
            KTUsersList.init()
        }));
    </script>
    
}